#root {
    -fx-pref-height: 500px;
    -fx-pref-width: 650px;
    -fx-font-family: Ubuntu;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

#rowIdentifier {
    -fx-max-width: 30px;
}

#columnIdentifier {
    -fx-max-height: 30px;
}

.gridPane {
    -fx-grid-lines-visible: true;
}

.bench {
    -fx-background-color: grey;
    -fx-grid-lines-visible: true;
}

