#root {
    -fx-pref-height: 500px;
    -fx-pref-width: 650px;
    -fx-font-family: Ubuntu;
}

#container {

}

#main {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
    -fx-border-width: 2px;

}

GridPane {
    -fx-grid-lines-visible: true;
}

.bench {
    -fx-background-color: grey;
}

