BorderPane {
    -fx-pref-height: 400px;
    -fx-pref-width: 500px;
    -fx-font-family: Ubuntu;
}

VBox {
    -fx-pref-width: 500px;
    -fx-alignment: center;
    -fx-spacing: 50px;
}

Button {
    -fx-pref-width: 150px;
}

.title {
    -fx-font-size: 36px;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}